@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
.HomePage {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.hero-text {
	color: white;
	text-align: center;
	font-size: 3.6rem;
	span {
		font-family: 'Quicksand' sans-serif;
		padding: 2rem;
		text-shadow: 0 0 2rem #037fff;
		top: 50%;
		left: 50%;
		margin: 0;
		transform: translate(-50%, -50%);
	}
}
canvas {
	height: 100vh;
	width: 100vw;
	position: absolute;
}

.h-sub-text {
	text-align: center;
}

.icons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
	.icon-holder {
		margin-right: 1rem;
		.icon {
			font-size: 2.8rem;
			color: #a4acc4;
			transition: all 0.4s ease-in-out;
		}
		.fb:hover {
			color: rgb(81, 81, 196);
		}
		.gh:hover {
			color: goldenrod;
		}
		.yt:hover {
			color: blueviolet;
		}
		.li:hover {
			color: red;
		}
	}
}
button {
	color: #ffffff;
	background-color: #037fff;
	padding: 1rem;
	border: none;
	outline: none;
	border-radius: 1rem;
	font-size: 1rem;
	box-shadow: 0 0 2rem #0381ffa9;
}
button:hover {
	color: #037fff;
	background-color: #ffffff;
	a {
		color: #037fff;
	}
}
a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2rem;
}
